<h2 class="pt-4">Pizzas</h2>
<div class="row col-md-6 offset-md-3">
    <div class="col-6">
    <h6>Pizza List</h6>
        <div class="pb-3">
            <select id="pizzas" class="form-select" multiple aria-label="multiple select">
                {% for pizza in pizzas %}
                    <option class="pizza" value="{{ pizza.id }}" data-name="{{ pizza.name }}">{{ pizza.name }}</option>
                {% endfor %}
            </select>
        </div>
        <button type="button" id="add" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addPizzaModal">
            Add
        </button>
        <button type="button" id="editPizzaBtn" class="btn btn-warning" data-bs-toggle="modal"
                data-bs-target="#editPizzaModal"
                disabled>
            Edit
        </button>
        <button type="button" id="deletePizzaBtn" class="btn btn-danger" data-bs-toggle="modal"
                data-bs-target="#deletePizzaModal"
                disabled>
            Remove
        </button>
    </div>
    <div class="col-6">
    <h6>Toppings</h6>
        <div id="pizzaToppings">
        </div>
    </div>

    <div class="modal fade" id="addPizzaModal" tabindex="-1" aria-labelledby="addPizzaModalLabel" aria-hidden="true" style="color: black;">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="addPizzaModalLabel">Create New Pizza</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <form class="form" id="addForm" method="POST" action="{{ url_for('pizza.add_pizza') }}">
                    <div class="modal-body">
                        <input id="addPizza" class="form-control" type="text" name="name" placeholder="Name for Pizza"/>
                        <div class="pt-2">
                        <h6>Toppings</h6>
                        {% for topping in toppings %}
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="checkbox" value="{{ topping.id }}"
                                       id="pizza-{{ topping.id }}" name="topping"/>
                                <label class="form-check-label" for="{{ topping.id }}" style="color: black;">{{ topping.name }}</label>
                            </div>
                        {% endfor %}
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <input type="submit" id="add" class="btn btn-primary" name="add" value="Create Pizza"/>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="modal fade" id="editPizzaModal" tabindex="-1" aria-labelledby="editPizzaModalLabel" aria-hidden="true" style="color: black;">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="editPizzaModalLabel">Edit Pizza</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <form class="form" class="form" method="POST" action="{{ url_for('pizza.edit_pizza') }}">
                    <div class="modal-body edit">
                        <input id="editPizzaId" type="hidden" name="pizzaId"/>
                        <input id="editPizza" class="form-control" type="text" name="name"/>
                        <div class="pt-2">
                        <h6>Toppings</h6>
                        {% for topping in toppings %}
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="checkbox" value="{{ topping.id }}"
                                       id="pizza-{{ topping.id }}" name="topping"/>
                                <label class="form-check-label" for="{{ topping.id }}" style="color: black;">{{ topping.name }}</label>
                            </div>
                        {% endfor %}
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <input type="submit" class="btn btn-primary" name="edit" value="Submit"/>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="modal fade" id="deletePizzaModal" tabindex="-1" aria-labelledby="deletePizzaModalLabel"
         aria-hidden="true" style="color: black;">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="deletePizzaModalLabel">Delete Pizza</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <form class="form" method="POST" action="{{ url_for('pizza.delete_pizza') }}">
                    <input type="hidden" id="deletePizzaId" name="pizzaId">
                    <div class="modal-body">
                        <p style="color: black;">Are you sure you want to delete <span id="pizzaName"></span>?</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <input type="submit" class="btn btn-danger" name="add" value="Delete"/>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

{% block js %}
    <script type="application/javascript">
        $(function () {
            $('option.pizza').on('click', function () {
                $('option.pizza[selected="selected"]').attr('selected', false);
                $(this).attr('selected', 'selected');
                $.ajax({
                    url: "{{ url_for('pizza.pizza_info') }}",
                    method: 'POST',
                    data: {
                        pizza_id: $(this).val()
                    },
                    success: function (data) {
                        let list_items = [];
                        $.each(data.toppings, function (index, topping) {
                            list_items.push(`<li class="list-group-item">${topping}</li>`)
                        });

                        $('#pizzaToppings').html($('<ul class="list-group"/>').append(list_items.join('')))
                    }
                })
                $('#editPizzaBtn').prop('disabled', false);
                $('#deletePizzaBtn').prop('disabled', false);
            });

            $('#editPizzaBtn').on('click', function () {
                let selected = $('option.pizza[selected="selected"]');
                $('#editPizza').val(selected.data('name'));
                $('#editPizzaId').val(selected.attr('value'));
                $.ajax({
                    url: "{{ url_for('pizza.pizza_info') }}",
                    method: 'POST',
                    data: {
                        pizza_id: selected.attr('value')
                    },
                    success: function (data) {
                        //unchecks all boxes
                        $('div.edit input[type="checkbox"]').each(function () {
                            $(this).prop('checked', false);
                        })
                        //checks only boxes that pizza has toppings for
                        $.each(data.topping_ids, function (index, id) {
                            $(`input[type="checkbox"]#pizza-${id}`).prop('checked', true);
                        })
                    }
                })
            });

            $('#deletePizzaBtn').on('click', function () {
                let selected = $('option.pizza[selected="selected"]');
                $('#pizzaName').text(selected.data('name'));
                $('#deletePizzaId').val(selected.attr('value'));
            });
        });
    </script>
{% endblock %}
